header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 30px #e5e5e5;
    padding: 15px 25px;
}

header {
    top: 0;
}

header ion-icon {
    font-size: 45px;
}

main {
    font-size: 14px;
}

main p {
    margin: 0 2%;
}

main,
footer>input {
    font-family: roboto, sans-serif;
    font-weight: 400;
}

.area-batepapo {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 14%;
}

.box-message,
.publicMessage,
.privateMessage,
.statusMessage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-all;
    padding: 1% 0;
    margin: 1% 0;
    font-size: 14px;
    text-decoration: none;
}

.privateMessage {
    background-color: #FFDEDE;
}

.statusMessage {
    background-color: #DCDCDC;
}

span {
    font-weight: 700;
    font-size: 14px;
}

footer {
    bottom: 0;
}

footer>input {
    background-color: #fff;
    width: 90%;
    border: none;
    font-size: 18px;
}

footer ion-icon {
    font-size: 30px;
}